#### Sorting

In [109]:
# inplace replacement 
l = [5,7,2,9,10,50]

# ascending 
l.sort()

#descending 
l.sort(reverse=True)
l

[50, 10, 9, 7, 5, 2]

In [ ]:
# l.sort
# q = l 

# q = sorted(l)

In [108]:
# store it in a differnt variable
sorted_l = sorted(l)
print(sorted_l)

[2, 5, 7, 9, 10, 50]

### Tuples

Properties
##### Tuples are immutable 
##### Ordered
##### Allow Duplicates

In [ ]:
tuples = ('Name', 11, ['Apple', 'Banana'], 11)
tuples

In [ ]:
info = ("Apple", 'Banana', 'Cherry')
info

In [ ]:
for i in info:
    print(i)

#### Add to a tupple using append

In [ ]:
info_list = list(info)
info_list.append('Pineapple')
info_list

In [106]:
count  = 0

for i in range(0,10):
    # count = count + 1
    count += 1
    print("count is:", count)

print("Total count :", count)

count is: 1
count is: 2
count is: 3
count is: 4
count is: 5
count is: 6
count is: 7
count is: 8
count is: 9
count is: 10
Total count : 10

#### Adding two tupples

In [ ]:
west_coast = 'San Jose', 'Santa Clara', 'Redwood City'
east_coast = 'New York','New Jersey'

west_coast += east_coast
west_coast

In [ ]:
city  = 'Santa Clara'
west_coast = ('San Jose', 'Santa Clara', 'Redwood City', 'New York', 'New Jersey')

occurrences = 0
for item in west_coast:
    if item == city:
        occurrences += 1

print(occurrences)

In [ ]:
west_coast.count('Santa Clara')

### Sets

##### Unique Values
##### Not ordered - can appear in a different order eveytime we print them

In [ ]:
s = { 1,2,2,2,3,3,4}
s

In [ ]:
info = ("Apple", 'Banana', 'Cherry',"Apple")
set_info = set(info)
set_info

In [ ]:
for i in set_info:
    print(i)

#### Adding elements to a set

In [ ]:
set_info

In [ ]:
set_info.add('Blue Berry')
set_info

##### Adding a single element in a set

In [ ]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

for i in tropical:
    thisset.add(i)

thisset

##### Adding 2 sets

In [ ]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)
thisset

#### Removing Elements from Sets

In [ ]:
thisset

In [ ]:
thisset.remove('banana')
thisset

In [ ]:
thisset.discard('apple')
thisset

In [ ]:
# removes a random item
thisset.pop()
thisset

In [ ]:
thisset.clear()
thisset

In [ ]:
x = {"apple", "banana", "cherry", "google"}
y = {"google", "microsoft", "apple"}

for i in x:
    if i in y:
        print(i)

##### Intersection

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)
x

In [103]:
set_1 = {1,2,3}
set_2 = {3,4,5}

# set_1.intersection_update(set_2)
# set_1

In [105]:
set_3 = set_1.intersection(set_2)
set_3

{3}

#### Difference

In [110]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)
x

{'banana', 'cherry', 'google', 'microsoft'}

In [111]:
set_1 = {1,2,3}
set_2 = {3,4,5}

z = set_1.difference(set_2)
z

{1, 2}